// @use 'modules/timelinejs/timeline.scss';
// @use 'modules/timelinejs/font.default.scss';

@mixin mod-timeline($container-width, $container-height, $max-width: null, $max-height: null) {
  // First we will do width
  @if not $container-width or not $max-width {
    // Longhand, because you may not want to override existing vertical margins
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    // The required math gets really ugly without this, but you were using it anyway, right?
    box-sizing: border-box;
  }

  @else {
    width: if($max-width, $max-width: null);
    // Non-Firefox browsers include the scrollbar in `vw`, be careful; maybe set this to 98vw depending on your site.
    max-width: 98vw;
    transform: translateX(calc(50vw - 50%));

    @media (min-width: $container-width) {
      // Longhand, because you may not want to override existing vertical margins
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }
  height: 650px;
  // // Next we will do height
  // @if not $container-height or not $max-height {
  //   // Just applying the same thing to height
  //   margin-top: calc(50% - 50vh);
  //   margin-bottom: calc(50% - 50vh);
  //   box-sizing: border-box;
  // }

  // @else {
  //   height: if($max-height, $max-height: null);
  //   max-height: 98vh;
  //   transform: translateY(calc(50vh - 50%));

  //   @media (min-height: $container-height) {
  //     margin-top: calc(50% - 50vh);
  //     margin-bottom: calc(50% - 50vh);
  //   }
  // }
}
