<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
  <link rel=stylesheet href="style.css">
  <link crossorigin="anonymous" referrerpolicy="origin" title="timeline-styles" rel="stylesheet" href="timelinejs.css" type="text/css">
  <link crossorigin="anonymous" referrerpolicy="origin" title="timeline-fonts" rel="stylesheet" href="font.default.css" type="text/css">
</head>
<body>
{{ block "main" . }}

{{ end }}
<script crossorigin="anonymous" referrerpolicy="origin" src="js/timeline.js" type="text/javascript"></script>
<noscript>Javascript is required to view this page.</noscript>
</body>
</html>
